# DataFrames associated methods

Loading sample data to create dataframe

In [1]:
import pandas as pd
Employee = {
    "First": ["vishnu", "siva", "madhu"],
    "Last": ["Chegondi", "Prasad", "Vasanth"],
    "email": ["vishnu.chegondi@email.com","siva.prasad@email.com","madhu.vasanth@email.com"]
}
employee_df = pd.DataFrame(Employee)

## Print required columns

- This can be done in two ways df.column, df["column"]
- Better prefer df["column"] so if we have shape column name it conflicts with attribute shape

In [2]:
employee_df["First"]

0    vishnu
1      siva
2     madhu
Name: First, dtype: object

In [3]:
employee_df.Last

0    Chegondi
1      Prasad
2     Vasanth
Name: Last, dtype: object

In [4]:
employee_df[["First","email"]]

    First                      email
0  vishnu  vishnu.chegondi@email.com
1    siva      siva.prasad@email.com
2   madhu    madhu.vasanth@email.com

## loc and iloc

These are used to print required rows and clip the number of rows and columns
- iloc uses the id
- loc uses the lables

In [5]:
employee_df.iloc[0,2]

'vishnu.chegondi@email.com'

In [6]:
employee_df.iloc[0:2, 0:2]

    First      Last
0  vishnu  Chegondi
1    siva    Prasad

In [7]:
employee_df.loc[2,"email"]

'madhu.vasanth@email.com'

In [8]:
employee_df.loc[0:1,"First":"email"]

    First      Last                      email
0  vishnu  Chegondi  vishnu.chegondi@email.com
1    siva    Prasad      siva.prasad@email.com

In [9]:
employee_df.loc[0:2, ["First","Last"]]

    First      Last
0  vishnu  Chegondi
1    siva    Prasad
2   madhu   Vasanth

## Different Attributes and Methods

In [10]:
employee_df.shape,employee_df.columns

((3, 3), Index(['First', 'Last', 'email'], dtype='object'))

In [11]:
employee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
First    3 non-null object
Last     3 non-null object
email    3 non-null object
dtypes: object(3)
memory usage: 200.0+ bytes

In [12]:
employee_df.sort_values(['First','Last'], ascending=False)

    First      Last                      email
0  vishnu  Chegondi  vishnu.chegondi@email.com
1    siva    Prasad      siva.prasad@email.com
2   madhu   Vasanth    madhu.vasanth@email.com