In [1]:
import pandas as pd
Employee = {
    "First": ["vishnu", "siva", "madhu"],
    "Last": ["Chegondi", "Prasad", "Vasanth"],
    "email": ["vishnu.chegondi@email.com","siva.prasad@email.com","madhu.vasanth@email.com"],
    "developer":["No", "Yes", "Yes"]
}
employee_df = pd.DataFrame(Employee)

In [2]:
filt = (employee_df["developer"]=="Yes")

In [3]:
filt

0    False
1     True
2     True
Name: developer, dtype: bool

In [4]:
employee_df.loc[filt, "email"]

1      siva.prasad@email.com
2    madhu.vasanth@email.com
Name: email, dtype: object

In [5]:
df = pd.read_csv("data/survey_results_public.csv")

In [6]:
df.set_index("Respondent", inplace=True)

In [7]:
df["Country"].sort_values().unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Chad', 'Chile',
       'China', 'Colombia', 'Congo, Republic of the...', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', "Côte d'Ivoire",
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong (S.A.R.)',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libyan Arab Jamahiriya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman',
       'Other Country (Not Listed Above)', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka',
       'Sudan', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Taiwan', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United Republic of Tanzania', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela, Bolivarian Republic of...',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe', nan], dtype=object)

In [8]:
countries = ["India","United States"]
filt = df["Country"].isin(countries)
df.loc[filt, ["LanguageWorkedWith","ConvertedComp","Country"]].sort_values(["ConvertedComp"],ascending=False)

,LanguageWorkedWith,ConvertedComp,Country
Respondent,,,
27146,Bash/Shell/PowerShell;C#;Erlang;HTML/CSS;Java;...,2000000.0,United States
35904,Bash/Shell/PowerShell;Python;SQL,2000000.0,United States
60048,Bash/Shell/PowerShell;Python;SQL,2000000.0,United States
19074,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,2000000.0,United States
77433,C#;HTML/CSS;Java;JavaScript,2000000.0,United States
...,...,...,...
83862,Assembly;C;C++;HTML/CSS;Java;JavaScript;Object...,NaN,India
84299,HTML/CSS;Java;JavaScript;Python;Swift;TypeScript,NaN,India
85642,Go;HTML/CSS,NaN,United States
86012,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript,NaN,India
88282,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...,NaN,United States

In [9]:
filt2 = df["LanguageWorkedWith"].str.contains("Python", na=False)
df.loc[filt2,  ["LanguageWorkedWith","ConvertedComp","Country"]]

,LanguageWorkedWith,ConvertedComp,Country
Respondent,,,
1,HTML/CSS;Java;JavaScript;Python,NaN,United Kingdom
2,C++;HTML/CSS;Python,NaN,Bosnia and Herzegovina
4,C;C++;C#;Python;SQL,61000.0,United States
5,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,NaN,Ukraine
8,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,NaN,India
...,...,...,...
84539,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,NaN,United Kingdom
85738,Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):,NaN,Brazil
86566,Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):,NaN,Switzerland
87739,C;C++;HTML/CSS;JavaScript;PHP;Python;SQL,NaN,Czech Republic
88212,HTML/CSS;JavaScript;Python,NaN,Spain