# Four Methods

These four methods are used for updating the rows 
- apply
- applymap
- map
- replace

In [1]:
import pandas as pd
Employee = {
    "First": ["vishnu", "siva", "madhu"],
    "Last": ["Chegondi", "Prasad", "Vasanth"],
    "email": ["vishnu.chegondi@email.com","siva.prasad@email.com","madhu.vasanth@email.com"]
}
employee_df = pd.DataFrame(Employee)

## apply

This is used to apply a function to the dataframes. We can apply series functions to this as this will be applied to all the series of the dataframe

In [2]:
employee_df.apply(len)

First    3
Last     3
email    3
dtype: int64

In [3]:
employee_df['email'].apply(len)

0    25
1    21
2    23
Name: email, dtype: int64

In [4]:
employee_df.apply(pd.Series.min)
employee_df.apply(lambda x: x.max())

First                       vishnu
Last                       Vasanth
email    vishnu.chegondi@email.com
dtype: object

## applymap

As you have seen the **apply** applies function only one step below objects. **applymap** is used to apply function every single object inside dataframe. 

>**applymap** only works on dataframes. Do not apply on series

In [5]:
employee_df.applymap(len)

   First  Last  email
0      6     8     25
1      4     6     21
2      5     7     23

In [6]:
def uppercase(string):
    return string.upper()

def lowercase(string):
    return string.lower()

employee_df.applymap(uppercase)
employee_df.applymap(lowercase)

    First      Last                      email
0  vishnu  chegondi  vishnu.chegondi@email.com
1    siva    prasad      siva.prasad@email.com
2   madhu   vasanth    madhu.vasanth@email.com

In [7]:
employee_df.applymap(lambda x: x.upper())

    First      Last                      email
0  VISHNU  CHEGONDI  VISHNU.CHEGONDI@EMAIL.COM
1    SIVA    PRASAD      SIVA.PRASAD@EMAIL.COM
2   MADHU   VASANTH    MADHU.VASANTH@EMAIL.COM

## map

This is used for mapping the column values of all rows.

In [8]:
employee_df['First'].map({'vishnu':'Vishnu','siva':'Shiva','madhu':'Madhu'})

0    Vishnu
1     Shiva
2     Madhu
Name: First, dtype: object

## replace

This is used to replace the column values of a given rows.

In [9]:
employee_df['First'].replace({'Vishnu':'Krishna'})

0    vishnu
1      siva
2     madhu
Name: First, dtype: object