# Indexes

In [1]:
import pandas as pd
Employee = {
    "First": ["vishnu", "siva", "madhu"],
    "Last": ["Chegondi", "Prasad", "Vasanth"],
    "email": ["vishnu.chegondi@email.com","siva.prasad@email.com","madhu.vasanth@email.com"],
    "developer":["No", "Yes", "Yes"]
}
employee_df = pd.DataFrame(Employee)

In [2]:
employee_df

    First      Last                      email developer
0  vishnu  Chegondi  vishnu.chegondi@email.com        No
1    siva    Prasad      siva.prasad@email.com       Yes
2   madhu   Vasanth    madhu.vasanth@email.com       Yes

 ## Setting Index
 
 Pandas usually dont make changes to the dataframe unless we specify. So we can usually test without making changes to dataframe. To make changes we specify inplace=True

In [3]:
employee_df.set_index('email', inplace=True)

In [4]:
employee_df

                            First      Last developer
email
vishnu.chegondi@email.com  vishnu  Chegondi        No
siva.prasad@email.com        siva    Prasad       Yes
madhu.vasanth@email.com     madhu   Vasanth       Yes

In [5]:
employee_df.sort_index(inplace=True)

In [6]:
employee_df.loc["vishnu.chegondi@email.com"]

First          vishnu
Last         Chegondi
developer          No
Name: vishnu.chegondi@email.com, dtype: object

In [7]:
employee_df.iloc[0]

First          madhu
Last         Vasanth
developer        Yes
Name: madhu.vasanth@email.com, dtype: object

In [8]:
employee_df.reset_index()

                       email   First      Last developer
0    madhu.vasanth@email.com   madhu   Vasanth       Yes
1      siva.prasad@email.com    siva    Prasad       Yes
2  vishnu.chegondi@email.com  vishnu  Chegondi        No