In [1]:
import pandas as pd
Employee = {
    "First": ["vishnu", "siva", "madhu"],
    "Last": ["Chegondi", "Prasad", "Vasanth"],
    "email": ["Vishnu.chegondi@email.com","siva.prasad@email.com","madhu.vasanth@email.com"]
}
employee_df = pd.DataFrame(Employee)

In [2]:
employee_df.loc[0,'First']='Krishna'
employee_df

     First      Last                      email
0  Krishna  Chegondi  Vishnu.chegondi@email.com
1     siva    Prasad      siva.prasad@email.com
2    madhu   Vasanth    madhu.vasanth@email.com

In [3]:
filt = employee_df['First']=='Krishna'
employee_df.loc[filt]

     First      Last                      email
0  Krishna  Chegondi  Vishnu.chegondi@email.com

In [4]:
employee_df.loc[0]=['Vishnu', 'Chegondi', 'Vishnu.Chegondi@gmail.com']
employee_df

    First      Last                      email
0  Vishnu  Chegondi  Vishnu.Chegondi@gmail.com
1    siva    Prasad      siva.prasad@email.com
2   madhu   Vasanth    madhu.vasanth@email.com

In [5]:
employee_df['email']=employee_df['email'].str.lower()
employee_df

    First      Last                      email
0  Vishnu  Chegondi  vishnu.chegondi@gmail.com
1    siva    Prasad      siva.prasad@email.com
2   madhu   Vasanth    madhu.vasanth@email.com